.card {
    margin: 10px;
    background-color: lightblue; /* Faint blue background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black; /* Black border */
}

.card-content {
    padding: 16px;
}

.movie-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.movie-year {
    margin: 0;
    font-size: 18px;
    color: #757575;
}